@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 background: rgb(160, 158, 158);

}

.progress {
  border-radius: 50%;
  width: 4.26rem;
  height: 4.25rem;
  border: 6px solid #307bbe;
  border-left-color: #eee;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-right: 30px;
}

.pp::after {
  content: "";
  border-right: 1px solid #eee;
  height: 4rem;
  padding-left: 4rem;
}

@media screen and (max-width: 768px) {
  .pp::after {
    display: none;
  }
}
